<!DOCTYPE html>
<html>
  <head {% block html_attribs %}{% endblock html_attribs %}>
    <title>{% block title %}{% endblock title %}</title>
    {% block styles %}
    <link rel="stylesheet" type="text/css" href="../static/foundation.css">
    {% endblock styles %}
    {% block scripts %}{% endblock scripts %}
  </head>

  <body>
    <div id="bar">
      {% block bar %}{% endblock %}
    </div>
    
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    
  </body>

</html>
