{% extends "layout.html" %}

{% block html_attribs %}
lang="en"
{% endblock html_attribs %}

{% block title %}
Main Page
{% endblock title %}

{% block scripts %}
{{ super() }}
{% endblock scripts %}

{% block styles %}
<link href="../static/main.css" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block bar %}

<div class="barbutton">
  <button type="submit" class="button button-rounded-hover">Current Games</button>
</div>

<div class="barbutton">
  <button type="submit" class="button button-rounded-hover">Joinable Games</button>
</div>

<div class="barbutton">
  <form action="/create" method="GET">
    <button type="submit" class="button button-rounded-hover">Create Game</button>
  </form>
</div>

<div class="barbutton">
  <button type="submit" class="button button-rounded-hover">Finished Games</button>
</div>

<div class="barbutton" id="logout">
  <form action="/logout" method="GET">
    <button type="submit" class="button button-rounded-hover">Log out</button>
  </form>
</div>

{% endblock bar %}

{% block content %}
<div id="games">
  
  <div id="current">
    {% for g in current %}
    <div class="game">
      <p>
	<div class="title">
	  {{ g.player }}'s Game ({{ g.current }}/{{ g.total }})
	</div>
	<b>Players:</b>{{ g.players }}<br>
	<b>Goal:</b>{{ g.goal }}
      </p>
      <form action="/play" method="POST">
	<button class="g"  type="submit" name="gameID" value={{ g.id }}>
	  PLAY
	</button>
      </form>
    </div>
    {% endfor %}
  </div>

  <div id="join">
    {% for g in join %}
    <div class="game">
      <p>
	<div class="title">
	  {{ g.player }}'s Game ({{ g.current }}/{{ g.total }})
	</div>
	<b>Players:</b> {{ g.players }}<br>
	<b>Goal:</b> {{ g.goal }}
      </p>
      <form action="/play" method="POST">
	<button class="g"  type="submit" name="gameID" value={{ g.id }}>
	  JOIN
	</button>
      </form>
    </div>
    {% endfor %}
  </div>

  <div id="finished">
    {% for g in finished %}
    <div class="game">
      <p>
	<div class="title">
	  {{ g.player }}'s Game ({{ g.current }}/{{ g.total }})
	</div>
	<b>Players:</b> {{ g.players }}<br>
	<b>Goal:</b> {{ g.goal }}
      </p>
      <form action="/view" method="POST">
	<button class="g" type="submit" name="gameID" value={{ g.id }}>
	  VIEW STATS
	</button>
      </form>
    </div>
    {% endfor %}
  </div>
  
</div>

{% endblock content %}

