{% extends "layout.html" %}

{% block html_attribs %}
lang="en"
{% endblock html_attribs %}

{% block title %}
Main Page
{% endblock title %}

{% block scripts %}
ADD THE SCRIPT THAT GETS ELEMENTS, ADDSS WHITE CARDS TO PAGE
w/ getelementbyid, attachhcild something like that
{% endblock scripts %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}

<div id="leave">
  <form action="/main" method="GET">
    <button type="submit">Leave Game</button>
  </form>
</div>

<div id="blackcard">
  The black card for this round is:
  <div id="inside">
    <h2>
      Dear Leader Kim, our village praises with a humble offering of __.
    </h2>
  </div>
</div>

<br>

{# this is dictator #}
{% if not dictator %}
<div id="playedcards">
  The white cards played this round are:
  {# THIS NEEDS TO BE IN FOR LOOP #}
  <div class="played">
    <p>Serfdom.</p>
  </div>
  {# END #}
  <div class="played">
    <p>All my friends dying.</p>
  </div>
</div>

<br>
<p>----------</p>
<div id="cards">
  {# THIS NEEDS TO BE IN FOR LOOP #}
  <div class="userscards">
    <p>Serfdom.</p>
  </div>
  {# THIS NEEDS TO BE IN FOR LOOP #}
  <div class="userscards">
    <p>Serfdom.</p>
  </div>
  <div class="userscards">
    <p>Serfdom.</p>
  </div>
</div>
{% endif %}

{# this is not dictator #}
{% if dictator %}
<div id="playedcards">
  The white cards played this round are:
  {# THIS NEEDS TO BE IN FOR LOOP #}
  <div class="played">
    <p>Serfdom.</p>
  </div>
  {# END #}
  <div class="played">
    <p></p>
  </div>
</div>
{% endif %}



{% endblock content %}

