{% extends "layout.html" %}

{% block html_attribs %}
lang="en"
{% endblock html_attribs %}

{% block title %}
Main Page
{% endblock title %}

{% block styles %}
<LINK href="../static/style.css" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block scripts %}
{# ADD THE SCRIPT THAT GETS ELEMENTS, ADDS WHITE CARDS TO PAGE w/ getelementbyid, attachhcild something like that #}
{% endblock scripts %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}


<div id="leave">
  <form action="/main" method="GET">
    <button type="submit">Go back</button>
  </form>
</div>

<br>
{% if playable %}

<div id="blackcard">
  The black card for this round is:
  <div id="inside" style="background-color:#000000">
    <span style="color:#FFFFFF"><h3>  __. High five, bro.</h3></span>
  </div>
</div>

{# this is dictator #}
{% if not dictator %}
The white cards played this round are:
<div id="playedcards">
  {# THIS NEEDS TO BE IN FOR LOOP #}
  <div class="played">
    Serfdom.
  </div>
  {# END #}
  <div class="played">
    All my friends dying.
  </div>
  <div class="played">
    A mouthful of potato salad.
  </div>
  <div class="played">
    A magic hippie love cloud.
  </div>
  <div class="played">
    A bowl of gourds.
  </div>
  <div class="played">
    Life.
  </div>
  <div class="played">
    Yeast.
  </div>
  <div class="played">
    Strawberry.
  </div>
  <div class="played">
    Apples.
  </div>
</div>

Your cards:
<div id="cards">
  {# THIS NEEDS TO BE IN FOR LOOP #}
  <div class="played">
    <p>Serfdom.</p>
  </div>
  {# THIS NEEDS TO BE IN FOR LOOP #}
  <div class="played">
    <p>Serfdom.</p>
  </div>
  <div class="played">
    <p>Serfdom.</p>
  </div>
</div>
{% endif %}

<div>

</div>
{# this is not dictator #}
{% if dictator %}
<div id="playedcards">
  The white cards played this round are:
  {# THIS NEEDS TO BE IN FOR LOOP #}
  <div class="played">
    Serfdom.
  </div>
  {# END #}
</div>
{% endif %}
{% endif %}


{% endblock content %}

