{% extends "layout.html" %}

{% block html_attribs %}
lang="en"
{% endblock html_attribs %}

{% block title %}
Main Page
{% endblock title %}

{% block styles %}
<LINK href="../static/style.css" rel="stylesheet" type="text/css">
{% endblock styles %}

{% block scripts %}
{# ADD THE SCRIPT THAT GETS ELEMENTS, ADDS WHITE CARDS TO PAGE w/ getelementbyid, attachhcild something like that #}
{% endblock scripts %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}

<div id="leave">
  <form action="/main" method="GET">
    <button type="submit">Go back</button>
  </form>
</div>

The black card for this round is:
<div id="blackcard">
  {{blackCard}}
</div>

The white cards played this round are:
<div id="playedcards">
  {% for c in cards %}
  <div class="played" {% if dictator %} onclick="" {% endif %}>
    {% if dictator or yourcard %}{{c}}{% endif %}
  </div>
  {% endfor %}
</div>

Your cards:
<div id="whitecards">
  {% for w in whitecards %}
  <div class="white" {% if not dictator %} onclick="" {% endif %}>
    {{w}}
  </div>
  {% endfor %}
</div>

{% endblock content %}

