<!DOCTYPE html>
<html>
  <head class="no-js" {% block html_attribs %}{% endblock %}>
    <title>{% block title %}{% endblock %}</title>
    {% block styles %}
    <link rel="stylesheet" href="../static/css/foundation.css">
    {% endblock %}
    {% block scripts %}{% endblock %}
    {% block head %}{% endblock %}
  </head>

  <body {% block onload %}{% endblock %}>
    {% set messages = get_flashed_messages() %}
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
    
    <div id="bar">
      {% block bar %}{% endblock %}
    </div>
    
    <div id="content">
      {% block content %}{% endblock %}
    </div>
    
  </body>

</html>
