{% extends "layout.html" %}
{% block html_attribs %}
lang="en"
{% endblock %}

{% block title %}
Login Page
{% endblock %}

{% block styles %}
{{ super() }}
<link href="../static/login.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<form method="POST" action="/login" class="loginform">
  <h4 class="text-center">Login</h4>
  <label>Username
    <input type="text" name="username" required>
  </label>

  <label>Password
    <input type="password" name="password" required>
  </label>

  <p><input type="submit" class="button expanded" value="Login"></input></p>
</form>

<form method="GET" action = "/register">
  <p class="text-center">
    Don't have an account?
    <input type="submit" class="button small" value = "Register">
  </p>
</form>

{% endblock %}

