{% extends "layout.html" %}

{% block html_attribs %}
lang="en"
{% endblock %}
{% block title %}
Main Page
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../static/js/stuff.js"></script>
{% endblock %}

{% block styles %}
<link href="../static/main.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block bar %}

<div class="barbutton">
  <button onclick="getGames('{{ user }}','current')">Current Games</button>
</div>

<div class="barbutton">
  <button onclick="getGames('{{ user }}','join')">Joinable Games</button>
</div>

<div class="barbutton">
  <button onclick="createDisplay('{{ user }}')">Create Game</button>
</div>

<div class="barbutton">
  <button onclick="getGames('{{ user }}','view')">Finished Games</button>
</div>

<div class="barbutton" id="logout">
  <form action="/logout" method="GET">
    <button type="submit" class="button button-rounded-hover">Log out</button>
  </form>
</div>

{% endblock %}

{% block content %}
<div id="games">

  <div id="current">
    {% for g in current %}
    <div class="game">
      <p>
	<div class="title">
	  {{ g.player }}'s Game ({{ g.current }}/{{ g.total }})
	</div>
	<b>Players: </b>{{ g.players }}<br>
	<b>Goal: </b>{{ g.goal }}
      </p>
      <form action="/play" method="POST">
	<button class="g"  type="submit" name="gameID" value={{ g.gameID }}>
	  PLAY
	</button>
      </form>
    </div>
    {% endfor %}
  </div>
  
  <div id="join">
    {% for g in join %}
    <div class="game">
      <p>
	<div class="title">
	  {{ g.player }}'s Game ({{ g.current }}/{{ g.total }})
	</div>
	<b>Players: </b>{{ g.players }}<br>
	<b>Goal: </b>{{ g.goal }}
      </p>
      <form action="/play" method="POST">
	<input type="hidden" value="join" name="join"/>
	<button class="g"  type="submit" name="gameID" value={{ g.gameID }}>
	  JOIN
	</button>
      </form>
    </div>
    {% endfor %}
  </div>

  <div id="finished">
    {% for g in finished %}
    <div class="game">
      <p>
	<div class="title">
	  {{ g.player }}'s Game ({{ g.current }}/{{ g.total }})
	</div>
	<b>Players: </b>{{ g.players }}<br>
	<b>Goal: </b> {{ g.goal }}
      </p>
      <form action="/view" method="POST">
	<button class="g" type="submit" name="gameID" value={{ g.gameID }}>
	  VIEW STATS
	</button>
      </form>
    </div>
    {% endfor %}
  </div>

  {% if create %}
  <div id="create">
    <div class="game">
      <form action="/create" method="POST">
	<p>
	  <div class="title">
	    {{ user }}'s Game (1/<input type="number" name="playerlim" step="1" min="3" max="10">)
	  </div>
	  <b>Players: </b>{{ user }}<br>
	  <b>Goal: </b><input type="number" name="scorelim" step="1" min="3">
	</p>
	<button type="submit">CREATE GAME</button>	
      </form>
    </div>
    {% endif %}
    
  </div>

{% endblock %}

