{% extends "layout.html" %}

{% block html_attribs %}
lang="en"
{% endblock %}

{% block title %}
Main Page
{% endblock %}

{% block styles %}
<LINK href="../static/play.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="../static/js/play.js"></script>
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block bar %}
<div class="barbutton">
  <form action="/main" method="GET">
    <button type="submit">Go back</button>
  </form>
</div>
{% endblock %}

{% block onload %}onclick="update('{{gameID}}')"{% endblock %}

{% block content %}
<div id="status">
  {% if not status %}Status goes here{% endif %}
  {{ status }}
</div>

<div id="header">
  <div id="bround">
    The black card for this round is:
  </div>
  <div id="wround">
    The white cards played this round are:
  </div>
</div>

<div id="blackcard">
  {{blackCard}}
</div>

<div id="playedcards">
  {% for c in cards %}
  <div class="card" {% if allplayed and dictator %} onclick="roundCard('{{gameID}}','{{c}}')" {% endif %}>
    {% if allplayed or yourcard == c %}{{c}}{% endif %}
  </div>
  {% endfor %}
</div>
<div id="space"></div>
<div id="your">
  Your cards:
</div>
<div id="whitecards">
  {% for w in whitecards %}
  <div class="white" {% if not yourcard and not dictator and enoughPlayers %} onclick="playCard('{{gameID}}','{{w}}')" {% endif %}>
    {{w}}
  </div>
  {% endfor %}
</div>
{% endblock %}

