{% extends "layout.html" %}

{% block html_attribs %}lang="en"{% endblock html_attribs %}

{% block title %}Login Page{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}
<form method = "POST" action ="/register" class="loginform">
  <h4 class="text-center">Register For An Account</h4>
  <label>Username:
    <input type="text" name="username" required>
  </label>
  
  <label>Password:
    <input type = "password" name = "password" required>
  </label>
  <label>Confirm password:
    <input type="password" name = "repeat" required>
  </label>
  
  <p><input type="submit" class="button expanded" value="Register"></p>
</form>

<form method="GET" action="/">
  <input type="submit" class="button secondary expanded" value="Back"><br><br>
</form>
{% endblock content %}
