{% extends "layout.html" %}

{% block html_attribs %}
lang="en"
{% endblock html_attribs %}

{% block title %}
Login Page
{% endblock title %}

{% block head %}
{{ super() }}
{% endblock head %}

{% block content %}
<h1>
  Register for an account!
</h1>

<form method = "POST" action ="/register">
  Username:
  <input type="text" name="newUsername" required> <br><br>
  Password:
  <input type = "password" name = "newPassword" required>  <br><br>
  Confirm password:
  <input type="password" name = "repeatPassword" required> <br> <br>
  <input type="submit" value="Register">
</form>

<form method="get" action="/">
  <input type="submit" value="Back"><br><br>
</form>
{% endblock content %}
